body {
  background-color: rgb(165, 158, 140);
  user-select: none;
}

#root {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
}

#drum-machine {
  background-color:rgb(215, 206, 178);
  width: 600px;
  outline: 5px solid rgb(76, 87, 96)
}

#pad-bank {
  width: 330px;
  height: 330px;
  display: inline-block;
  padding-top: 40px;
}

.drum-pad {
  background-color: rgb(147, 168, 172);
  cursor: pointer;
  box-sizing: border-box;
  width: 100px;
  height: 90px;
  padding-top: 20px;
  border-radius: 5px;
  margin-right: 8px;
  box-shadow: black 3px 3px 5px;
  margin-top: 10px;
  float: left;
  font-size: larger;
}

.controls {
  display: inline-block;
  height: 330px;
  width: 240px;
  vertical-align: top;
  margin-top: 60px;
}

#display {
  background-color: rgb(76, 87, 96);
  width: 200px;
  box-sizing: border-box;
  padding: 15px;
  margin: 15px auto;
}

#volume {
  width: 200px;
  margin-bottom: 30px;
  margin-top: none;
}

.buttons {
  background-color:rgb(147, 168, 172);
  border: none;
}